<div class="dice-formula" style="margin-top: 4px; padding: 8px;">
    <i class="fas fa-shield-heart" style="margin-right: 2px" inert></i>
    <span style="font-family: var(--dnd5e-font-roboto); font-weight: bold; text-transform: uppercase">
        {{ localize "TalentPsionics.Power.ManifestTestDC" manifestDC=DC }}
    </span>
</div>