<div class="form-group">
    <label>Recover Strain</label>  
    <div class="form-fields">
    <button type="button" id="recover-strain-body">Body</button>
    <button type="button" id="recover-strain-mind">Mind</button>
    <button type="button" id="recover-strain-soul">Soul</button>
    </div>
</div>